body {
    background-color: #f3f2ef;
    color: white;
    min-width: 320px;
}

.content {
    background-color: white;
    color: #333333;
    margin: 10px auto;
    padding: 2rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #E0E0E0;
    border-radius: 12px;
    max-width: 90vw;
}

.navbar {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #E0E0E0;
}

.nav-item .active {
    text-decoration-line: underline;
    text-decoration-color: #E0E0E0;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 950px;
    }
}