body {
    background-color: #212121;
    color: white;
}

.navbar {
    background-color: white;
}

.content {
    background-color: white;
    color: black;
    margin: 10px auto;
    padding: 2rem;
    border-radius: 12px;
    min-width: 720px;
    max-width: 60%;
}